# for users who don't have core.autocrlf set
* text=auto

# known text extensions
*.m text diff=matlab merge
*.py text diff=python merge
*.pyx text diff=python merge
*.f text diff=fortran merge
*.f90 text diff=fortran merge
*.coveragerc text
*.css text
*.gitattributes text
*.gitignore text
*.htm text
*.html text
*.ini text
*.lock text
*.md text
*.prj text
*.php text
*.rst text
*.tex text
*.toml text
*.txt text
*.make text

# Windows specific files to always have CRLF
*.bat text eol=crlf

# Unix files to always have LF
*.sh text eol=lf

# Specific executables
/dcs text eol=lf

# known binary files to not modify
*.dll binary
*.doc binary
*.docx binary
*.fig binary
*.hdf5 binary
*.jpg binary
*.mat binary
*.mex binary
*.mexw32 binary
*.mexw64 binary
*.pdf binary
*.png binary
*.ppt binary
*.pptx binary
*.pyc binary
*.xlx binary
*.xlsx binary

# files to ignore when creating zip file for download
/.gitattributes export-ignore
/.gitignore export-ignore
