default:
  image: python:latest

  cache:
    paths:
    - .cache/pip
    - .cache/uv
    - .cache/core_only
    - .cache/static
    - .cache/everything
    - .cache/setuptools

stages:
  - Environments
  - Static Analysis
  - Test
  - Coverage
  - Deploy

variables:
  QT_QPA_PLATFORM: "offscreen"

make_envs:
  stage: Environments
  variables:
    UV_LINK_MODE: "copy"
  script:
  - echo $PWD
  - export PIP_CACHE_DIR="$PWD/.cache/pip"
  - export UV_CACHE_DIR="$PWD/.cache/uv"
  - python3 --version
  - python3 -m pip config set global.index-url https://$EFOSS_USERNAME:$EFOSS_TOKEN@nexus.global.lmco.com/repository/pypi-proxy/simple/
  - python3 -m pip install --upgrade pip
  - python3 -m pip install --upgrade uv
  - uv --version
  - uv venv --allow-existing .cache/core_only
  - source .cache/core_only/bin/activate
  - uv pip install pytest-cov
  - deactivate
  - uv venv --allow-existing .cache/static
  - source .cache/static/bin/activate
  - uv pip install black flake8 h5py isort matplotlib mypy numpy pandas pandas-stubs pyarrow pylint pylint-exit PyQt5 PyQt5-Stubs pytest-cov qtpy ruff scipy scipy-stubs tblib
  - deactivate
  - uv venv --allow-existing .cache/everything
  - source .cache/everything/bin/activate
  - uv pip install dask[dataframe] datashader h5py matplotlib numba numpy pandas pyarrow PyQt5 pytest-cov qtpy scipy tblib
  - deactivate
  - uv venv --allow-existing .cache/setuptools
  - source .cache/setuptools/bin/activate
  - uv pip install build twine
  - deactivate
  - uv cache prune --ci

mypy:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - mypy --version
  - mypy

ruff:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - ruff --version
  - ruff check

flake8:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - flake8 --version
  - flake8 .

pylint:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - pylint --version
  - pylint dstauffman || pylint-exit $?
  - pylint nubs || pylint-exit $?
  - pylint slog || pylint-exit $?
  - pylint scripts || pylint-exit $?

black:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - black --version
  - black . --check

isort:
  stage: Static Analysis
  allow_failure: true
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python --version
  - isort --version
  - isort . --diff --skip .cache

core_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.core
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/core_only/bin/activate
  - python -m dstauffman tests --coverage --cov_file shell/.coverage.core

nubs_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.nubs_core
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/core_only/bin/activate
  - python -m dstauffman tests --library nubs --coverage --cov_file shell/.coverage.nubs_core

slog_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.slog_core
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/core_only/bin/activate
  - python -m dstauffman tests --library slog --coverage --cov_file shell/.coverage.slog_core

no_numba_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.no_numba
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/static/bin/activate
  - python -m dstauffman tests --coverage --cov_file shell/.coverage.no_numba

unit_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.full
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/everything/bin/activate
  - python -m dstauffman tests --coverage --cov_file shell/.coverage.full

nubs_full_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.nubs_full
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - source .cache/everything/bin/activate
  - python -m dstauffman tests --library nubs --coverage --cov_file shell/.coverage.nubs_full

import_test:
  stage: Test
  needs: ["make_envs"]
  artifacts:
    paths:
    - shell/.coverage.imports
    expire_in: 4 hours
  script:
  - pwd
  - ls -l
  - export ROOT_DIR=$PWD
  - export COVERAGE_FILE=$ROOT_DIR/shell/.coverage.imports
  - export COVERAGE_RCFILE=$ROOT_DIR/pyproject.toml
  - export PYTHONPATH=$ROOT_DIR:$PYTHONPATH
  - source .cache/core_only/bin/activate
  - coverage run $ROOT_DIR/dstauffman/tests/test_commands_help.py
  - deactivate
  - source .cache/static/bin/activate
  - coverage run --append $ROOT_DIR/dstauffman/tests/test_version.py
  - deactivate
  - source .cache/everything/bin/activate
  - coverage run --append $ROOT_DIR/dstauffman/tests/test_version.py

basic_test:
  stage: Test
  needs: ["make_envs"]
  script:
  - pwd
  - ls -l
  - source .cache/core_only/bin/activate
  - python -m dstauffman tests -u

doc_test:
  stage: Test
  needs: ["make_envs"]
  script:
  - pwd
  - ls -l
  - source .cache/everything/bin/activate
  - python -m dstauffman tests -d

coverage_report:
  stage: Coverage
  needs: ["core_test", "nubs_test", "slog_test", "no_numba_test", "nubs_full_test", "unit_test", "import_test"]
  dependencies: ["core_test", "nubs_test", "slog_test", "no_numba_test", "nubs_full_test", "unit_test", "import_test"]
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    paths:
    - shell/coverage_html_report/*
    expire_in: 1 week
    reports:
      coverage_report:
        coverage_format: cobertura
        path: shell/coverage_html_report/coverage.xml
  script:
  - pwd
  - export ROOT_DIR=$PWD
  - source .cache/static/bin/activate
  - cd shell
  - pwd
  - ls -la
  - export COVERAGE_FILE=.coverage
  - coverage --version
  - coverage combine --keep
  - coverage html --rcfile $ROOT_DIR/pyproject.toml
  - coverage xml --rcfile $ROOT_DIR/pyproject.toml

build_code:
  stage: Deploy
  needs: ["core_test", "nubs_test", "slog_test", "no_numba_test", "nubs_full_test", "unit_test", "import_test"]
  allow_failure: true
  only:
  - tags
  except:
  - branches
  script:
  - source .cache/setuptools/bin/activate
  - echo "Publishing to $CI_API_V4_URL/projects/$CI_PROJECT_ID/packages/pypi"
  - python -m build
  - TWINE_PASSWORD=${CI_JOB_TOKEN} TWINE_USERNAME=gitlab-ci-token python -m twine upload --repository-url ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/pypi dist/*
